.insert-players__areaInput textarea {
  width: 100%;
  border: solid 1px #e2e3e5;
}

.title-input__areaInput {
  font-weight: 500;
  color: #6c757d;
}

.main-title_areaInput {
  font-size: 30px;
  margin: 30px 0 20px 0;
}

.radio-btn_areaInput label {
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

textarea {
  border-radius: 5px;
  outline: none;
}
