.main-header {
  padding: 10px;
  font-weight: 600;
}

.menu__main-header {
  position: fixed;
}

.title__main-header {
  color: #dc3545;
  text-align: center;
}
.img__main-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
