.skills-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.skills-group__name {
  font-weight: 700;
}

.check__skills-group {
  font-style: italic;
}

.valid__skills-group {
  border: none;
}
