.App {
  background-color: #f8f9fa;
  min-height: 100vh;
  color: #839cb2;
}

@media only screen and (min-width: 700px) {
  .content {
    margin: 0 100px 20px 100px;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    margin: 10px;
  }
}

.invalid {
  border: #e8a5ab solid 1px;
  border-radius: 3px;
}
