body {
  font-family: sans-serif;
  margin: 10px;
}

.result {
  display: flexbox;
  flex-direction: column;
}
.line {
  padding: 15px;
}

.orange {
  border: solid 1px orange;
}

.red {
  border: solid 1px red;
}

.insert-players__areaInput textarea {
  width: 100%;
}
